<%= form_for(@buy_record) do |f| %>
  <% if @buy_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buy_record.errors.count, "error") %> prohibited this buy_record from being saved:</h2>

      <ul>
      <% @buy_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :good_id %><br />
    <%= f.number_field :good_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
