<h1>Buying history</h1>

<table>
  <tr>
    <th>Good</th>
    <th>Price</th>
    <th>Description</th>
    <th>To user</th>
  </tr>

<% @buy_records.each do |b| %>
  <tr>
    <td><%= b.good.id %></td>
    <td><%= b.good.price %></td>
    <td><%= b.good.description %></td>
    <td><%= b.user.email %></td>
  </tr>
<% end %>
</table>