<%= link_to 'Link 1', link1_path %><br>
<%= link_to 'Link1 with full url', 'http://0.0.0.0:3000/link1' %><br>
<%= link_to 'External page', 'http://google.com.vn' %><br>
<%= link_to 'Not found page', 'http://0.0.0.0:3000/not-found' %><br>

<a></a>
<%= link_to 'To <blank>', '' %></br>
<%= link_to 'A pdf file', '/Getting_Started.pdf' %><br>

<%= link_to 'Goods page', goods_path %><br>
<%= link_to 'Users page', users_path %><br>