<%= link_to 'link 2', link2_path %><br>
<%= link_to 'link 3', link3_path %><br>
<%= link_to 'link to not found page', 'http://0.0.0.0:3000/not-found' %><br>
<%= link_to 'link to not found page', 'http://0.0.0.0:3000/not-found-again' %><br>

<form action="search.php?test=query" method="post"> 
  <label>search art</label> 
  <input name="searchFor" type="text" size="10"> 
  <input name="goButton" type="submit" value="go"> 
</form>