  <%= form_for(:session, url: "http://0.0.0.0:3000/sessions", method: :post) do |f| %>
    <%= f.label :email, class: "sign_in_label" %>
    <%= f.text_field :email, placeholder: "example@vccorp.vn" %><br>

    <%= f.label :password, class: "sign_in_label" %>
    <%= f.password_field :password, placeholder: "********" %><br>

    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
  <% end %>

  <%= link_to "Sign up", new_user_path %>