<h1>Listing goods</h1>

<%= link_to 'Link 1', link1_path %><br>
<%= link_to 'Link1 with full url', 'http://0.0.0.0:3000/link1' %><br>
<%= link_to 'External page', 'http://google.com.vn' %><br>
<%= link_to 'External page, duplicate', 'http://google.com.vn' %><br>
<%= link_to 'Other external page', 'http://exanoke.com.vn' %><br>
<%= link_to 'Not found page', 'http://0.0.0.0:3000/not-found' %><br>

<a></a>
<a href></a>
<%= link_to 'To <blank> 1', '' %></br>
<%= link_to 'To <blank> 2', '' %></br>
<%= link_to 'A pdf file', '/Getting_Started.pdf' %><br>
<%= link_to 'A pdf file, duplicate', '/Getting_Started.pdf' %><br>

<%= link_to 'Goods page', goods_path %><br>
<%= link_to 'Users page', users_path %><br>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goods.each do |good| %>
  <tr>
    <td><%= good.name %></td>
    <td><%= good.price %></td>
    <td><%= good.description %></td>
    <td><%= link_to 'Show', good %></td>
    <td><%= link_to 'Edit', edit_good_path(good) %></td>
    <td><%= link_to 'Destroy', good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Good', new_good_path %>
