<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @good.name.html_safe %>
</p>

<p>
  <b>Price:</b>
  <%= @good.price %>
</p>

<p>
  <b>Description:</b>
  <%= @good.description %>
</p>

<%= form_for :buy_record, url: buy_records_path do |f| %>
  <%= f.hidden_field :good_id, value: @good.id %>
  <%= f.hidden_field :to_user, value: current_user.id %>
  <%= f.submit "Buy this" %>
<% end %>
<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
