<% if signed_in? %>
  Current budget: <%= current_user.budget %>
  | <%= link_to 'Buying history', buy_records_path %>
  | <%= link_to "Sign out, #{current_user.email}", signout_path, method: :delete %><br>
<% else %>
  <%= link_to 'Sign in', signin_path %><br>
<% end %>
<%= link_to 'Goods', goods_path %> | <%= link_to 'Users', users_path %><br> 